@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700');
 
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	margin: 0;
	line-height: 1.5;
	overflow-x: hidden;
	font-family: 'Dosis', sans-serif;
	/*falta ingresar la familia de fuentes*/
	font-size: 1.2rem;
}
nav .nav-wrapper{
	/*background-color: black;*/
	margin-left: 5px;

}
nav .nav-wrapper ul>li:hover{
	background-color: rgba(255,255,255,.2);
}
/*.navbar-fixed{
	background: black;
}*/

/*vidio*/
.v-header{
	height: 100vh;
	display: flex;
	align-items: center;
	color: white;
}
.fullscreen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.fullscreen video{
	min-width: 100%;
	min-height: 100%;
}
.header-overlay{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	z-index: 1;
	opacity: 0.8;
}

/*boton*/
.container{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}
.header-content{
	z-index: 2;
}

/*minute 11*/
/*Destacado*/
.space{
	padding-top: 50px;
}
.feature i{
	border-radius: 50%;
	font-size: 50px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	width: 70px;
	background: transparent;
	transition: all 0.2s ease-in-out 0s;
	margin-bottom: 20px;
}
.feature:hover{
	cursor: pointer;
}
.feature i:hover{
	font-size: 40px;
	color: #ef5350;
	transition: all 0.2s ease-in-out 0s;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(239,83,80,.28);
	cursor: pointer;
}
.row .feature{
	padding-bottom: 50px;
}
/*--------------------------------------------------------
FOOTER
-------------------------------------------------------*/
h1,h2,h3,h4,h5,h6{ margin: 1% 0 1% 0; }
.footer_text{ font-size: 1.3rem; }
ul{ list-style: none;padding: 0; }
.footer-social-icons{ width: 350px; display: block; margin: 0 auto; padding-top: 12px; }

ul.social-icons{ margin-top: 10px; }
.social-icons li{ vertical-align: top; display: inline; height: 100px; }
.social-icons a , h4{ color: #fff; text-decoration: none; }
.social-icon{ color: #fff; }

.fa-whatsapp, .fa-facebook, .fa-twitter, .fa-youtube{
	padding: 10px 14px;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.fa-whatsapp:hover{ background-color: #25d366; }
.fa-facebook:hover{ background-color: #3d5b99; }
.fa-twitter:hover{ background-color: #00aced; }
.fa-youtube:hover{ background-color: #e64a41; }

/*Adaptar modulo responnsive*/
@media(max-width: 960px){
	.header-content h3{
		font-size: 8vh;
	}
}
